<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="txt">
        <h1><%= title %> </h1>
        <div><%= content %> </div>
        <span id="count">5</span>秒后自动进入 <a href="<%= href %> "><%= hrefText %> </a>
    </div>
</body>
<script>
    // 自动跳转
    let num  = 5
    setInterval(()=>{
        num --
        if(num<=0){
            location.href='<%= href %>'
        }else{
            document.querySelector('#count').innerHTML = num
        }
    },1000)
</script>
</html>